@page "/user"
@using UniiivMWebAsembly.Services
@using UniiivMWebAsembly.Entities

@inject UserService UserService



<h3>UserPage</h3>
@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<User> users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync();
    }
}
