@using UniiivMWebAsembly.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject TokenService TokenService

<div class="page">
    @if (!(IsLoginPage() ||IsRegisterPage()))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsLoginPage()
    {
        return NavigationManager.Uri.EndsWith("/login");
    }

    private bool IsRegisterPage()
    {
        return NavigationManager.Uri.EndsWith("/register");
    }

    protected override async Task OnInitializedAsync()
    {
        if (!await TokenService.IsTokenAvailableAsync())
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}